@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --sageGreen: #D8E2DC;
  --pastelPeach: #FFE5D9;
  --softPink: #FFCAD4;
  --darkRose: #F4ACB7;
  --rosyBrown: #9D8189;
  --darkRosyBrown: #57454A;

}

* {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: var(--darkRosyBrown);
}

*::selection {
  background-color: var(--darkRosyBrown);
  color: var(--pastelPeach);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--softPink);
}

nav {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: var(--darkRosyBrown) 1px solid;
}

.search-bar input {
  margin-left: 20px;
  border: var(--darkRosyBrown) solid 1px;
  border-radius: 5px;
  width: 400px;
  padding: 4px;
  margin: 10px 5px;
}

.search-bar input:focus {
  outline: solid var(--rosyBrown) 2px;
}

.search-bar input::selection {
  background-color: var(--darkRosyBrown);
  color: var(--pastelPeach);
}

.search-bar button {
  background-color: var(--darkRosyBrown);
  color: var(--pastelPeach);
  padding: 4px 10px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  margin: 10px 5px;
}

.search-bar button:hover {
  background-color: var(--rosyBrown);
}

main {
  display: flex; 
}

article {
  width: 50vw;
}

article.listings {
  box-shadow: rgba(87, 69, 74, 0.6) -1px 0 1px;
  padding: 20px;
}

.card-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
